h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 100;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 100;
}

li {
  list-style-type: none;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

label {
  font-family: 'Open Sans', sans-serif;
}

input {
  width: 75vw;
  outline: none;
  height: 5vh;
}

#submit {
  width: 5vw;
  height: 5vh;
  background: transparent;
  outline: none;
}

.single_book_link {
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 4vh;
  width: 7vw;
  border-radius: 5px;
  background: teal;
  padding: 10px;
  text-decoration: none;
  margin-right: 10px;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
